/* setting padding and margin of whole body to 0 */
*{
  padding:0;
  margin: 0;
}

/* this will style all the h1 tags in this project */
h1{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

/* this gives width and height to whole body */
.container{
    height: 100%;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.87);
    padding-bottom:10px;

}

.whitecontainer{
    height: 100%;
    width: 100%;
    background-color: rgba(223, 222, 222, 0.87);
    padding-bottom:10px;
}

/* this is the styling for navbar section */
.navbar{
    width: 95%;
    height: 5vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 5px;
    margin:5px 2.5% 5px 2.5%;
    background-color: rgb(12, 11, 11);
    position: sticky;
    top: 0%;
    
}

/* setting the width of div that has website logo */
.logo{
    width: 10%;
}

/* this is the styling for logo image  */
.logo img{
    height: 40px;
    width: 90px;
    
}

/* this is for the links that is in navbar */
.links{
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    width:60%;
    margin-right: 10px;
    padding: 2px;
}

/* this is for the individual links of navbar */
.links a{
    color:white;
    text-decoration: none;
    padding:1px 10px 1px 10px;
    border-radius: 10px;
    font-size: medium;
}

/* this is for adding hover effect to each likks  */
.links a:hover{
    border-bottom: 3px solid rgb(255, 0, 0);
    font-size: large;
}

/* this is for div that has searchbox */
.search{
    width: 30%;
    margin-right: 20px;
    display: flex;

}

/* this is for input that is in search div */
.search input{
    width:100%;
    height: 20px;
    border:1px rgb(3, 3, 3);
    background-color: rgb(37, 37, 37);
    padding: 5px 10px 5px 20px;
    color: white;
    outline: none;
}

/* this is the div that contains images of books category */
.category{
    display: flex;
    width:95%;
    height: 35px;
    margin:15px 2.5% 10px 2.5%;
    justify-content: space-between;
}

/* setting shadow for each image that is linked to particular page */
.category a{
    box-shadow: rgb(5, 5, 5) 5px 5px;
    text-decoration: none;
    color: red;
}


/* this is for setting height, eidth, border and radius of images of category sec */
.category h1{
        height:100%;
        width:160px;
        border:1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
}

/* setting hover for each image that is linked to particular page */
.category a:hover{
    transform:scale(1.085);
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

/* this is div that caontains images of image slider */
.slider{
    width:100%;
    height:400px;
    margin:25px 5% 15px 5%;
    border: 1px solid white;
}

/* this is div that contains prev, imageslider and nex div */
.crousel{
    display: flex;
    margin: 10px;
}

/* this styling is for previous btn of imageslider */
.prev{
    margin-top: 16%;
    margin-right: -50px;
}
.prev button{
    height: 60px;
    width: 20px;
}
.next button{
    height: 60px;
    width: 20px;
}

/* this styling is for next btn of imageslider */
.next{
    margin-top: 16%;
    margin-left: -50px;
}

/* this gives hover effect to button of next btn  */
.next button:hover{
    transition: 0.1s;
    transform: scale(1.1);
}

/* this gives hover effect to image of next btn  */
.prev button:hover{
    transition: 0.1s;
    transform: scale(1.1);
}

/* this is for image slider image */
#imgslider img{
    width:100%;
    height: 400px;
}
.searchpage{
    display: none;
    width: 100%;
    grid-template-columns: 33% 33% 33%;
    height: fit-content;
}
.allmainsec{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: rgb(209, 204, 204);
    border-radius: 10px;
}
/* this div is for trending section */
.section1{
    display: flex;
    width:99%;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding:5px 5px 5px 5px;
    
}

/* styling trending,foryou,top picks title */
.title{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title h1{
    font-size: x-large;
}

/* this is for view more button */
.title button{ 
    background-color: solid rgb(248, 248, 247);
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border:2px solid rgb(252, 252, 253);
    cursor: pointer;
}

/* giving hover effect to view button */
.title button:hover{
    background-color: red;
    transform: scale(1.1);
    border: 2px solid red;
}

/* this is for sections in home  */
.trending{
    display: flex;
    width:88%;
    overflow-x: scroll;
}

.toppicks{
    display: flex;
    width:90%;
}
.ForYou{
    display: flex;
    width:90%;
}
/* this is the styling for div that has book images */
.bookimg{
    height:100%;
    width:80%;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: rgb(173, 171, 171);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    width:100%;
    
}

/* styling images of this div */
.bookimg img{
    height:200px;
    width:100px;
    padding:10px;
    
}

.bookimg img:hover{
    transform: scale(1.05);
}

/* this is the section for offers */
.offers{
    display: flex;
    padding:10px;
    justify-content: space-evenly;
    width: 100%;
}

/* styling title for offer */
.offertitle h1{
    color: white;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* this is for first and second offers */
.offer1{
    display: flex;
    flex-direction: column;
    color: white;
    margin:100px 5px 5px 5px;
   align-items: center;
   justify-content: center;
    background-color: rgb(199, 4, 4);
    padding: 20px;
    width:35%;  
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
}

/* this is for third offer */
.offer2{
    display: flex;
    flex-direction: column;
    color: white;
    margin:100px 5px 5px 5px;
   align-items: center;
   justify-content: center;
    background-color: rgb(199, 4, 4);
    padding: 20px;
    width:35%;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;   
}

.offer1 img{
    height: 250px;
    margin-top: -120px;
}

.offer2 img{
    height: 250px;
    margin-top: -120px;

}
/* this is the styling for description offers of home page*/
.desc{
    margin: 30px 20px 10px 40px;
    padding: 5px;   
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}
.desc h1{
    font-size: x-large;
}

/* styling shop now button */
.desc button{
    width: 50%;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    border-radius: 10px;
    border: 2px white;
    margin: 10px 25% 1px 25%;
    cursor: pointer;
}
.desc button:hover{
    background-color: black;
    color: white;
}
/* this is the div that has book images and desc of all category pages */
.mainsec{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    background-color: rgb(222, 222, 223);
    color: black;
    
    
}
/* this is for the overflow of trending section */
.tmainsec{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 250px;
    margin: 10px;
    background-color: rgb(222, 222, 223);
    color: black;
    
    
}

/* styling for section that has book title ,description,price and author name */
.book-content{
    margin:20px 5px 10px 5px;
}

/* this is the button styling for all category pages */
.mainsec button , .tmainsec button{
    padding:8px;
    margin:10px 20% 10px 20%;
    width: 60%;
}
.mainsec div{
    margin-top:2px;
    margin-bottom: 2px;
}
.mainsec:hover, .tmainsec:hover{
   transform: scale(1.01);
}

/* adding style to the div that has add to cart button of all pages */
.addtocart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border:2px red;
    border-radius: 10px;
    height: 35px;
    background-color:rgb(240, 10, 10);
    color: white;
    margin:10px 5px 5px 20px;
    cursor: pointer;
}
.addtocart:hover{
    background-color:black;
    transform: scale(1.1);
}

/* this is giving scaling for all div that has scale class */
.scale:hover{
    transform: scale(1.01);
    
}

/* this section is styling done for hammenu that is for smaller devices */
.hammenu{
    font-size: large;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    display:none;
}
.hammenu img{
    height: 100%;
    width: 100%;
}
.hammenu button{
    margin-left: 10px;
    width:50px;
    height: 30px;
}

/* this is the styling for links */
.hamlinks{
    position: fixed;
    background-color: rgb(87, 85, 85);
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: none;
    z-index: 1;
    width: 100vw;
    
}

/* this is for ham close button */
.cross{
    font-size: large;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.cross button{
    margin-left: 10px;
    width:50px;
    height: 30px;
}
.hamlinks a{
    padding: 10px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

/* this section is for footer section */
.footer{
    background-color: black;
    display:grid;
    grid-template-columns: 8% 60% 20% 3%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid white;
    margin-top:2px;
}

/* this is for footer logo  */
.footer-logo{
    width: 25%;
    margin-left: 10px;
}

.footer-text{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;

}
.footer-text p{
    margin-top: 5px;
    margin-bottom: 3px;
}

/* styling the titles of footer */
.fot-title{
    border-bottom: 1px solid wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

/* for social app links */
.footer-soc-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:10px;
    margin:10px;
}
.footer-soc-links img{
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-left: 10px;
    width:fit-content;
    
}

/* this is styling background color for all classes having red name */
.red{
    background-color: red;
}

/* this is styling background color for all classes having .yellow name */
.yellow{
    background-color: yellow;
}

/* this is for making text white */
.twhite{
    color: white;
}

/* this is for making text red */
.tred{
    color:red;
}


/* this is for making text black */
.tblack{
    color: black;
}

/* this is for making text with xx-larger font-size*/
.large{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

}

/* this is for making text with larger font-size*/
.small{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

/* this is for making text with large font-size*/
.tiny{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


/* Now designing navbar for home page for smaller devices */
@media screen and (max-width:760px){
    
    /* this will set the display of all links to none */
    .links{
        display: none;
    }
    .navbar{
        justify-content: space-between !important;
        width: 90vw !important;
    }
    .logo{
        width: 30% !important;
    }
    .logo img{
        height: 40px !important;
        width: 70px !important;
    }
    .search{
        width: 50% !important;
        margin: 5px !important;
    }
    .search input{
        width: 100% !important;
    }
    .category{
        display: none;
    }
    .hammenu{
        width: 20%;
        display: flex;
    }
    .prev, .next{
        display: none;
    }
    .slider{
        width:90vw;
        margin:5px 5vw 5px 5vw;  
        height: 40vh;
    }
    #imgslider{
        height: 100%;
        width:100%;
    }
    #imgslider img{
        width:100%;
        height: 100%;
    }
    .section1{
        display: flex;
        flex-direction: column;
        width: 95vw;
        justify-content: center;
        align-items: center;
    }
    .title{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 10px 5px 20px;
        align-items: center;
    }
    .title button{
        margin-left: 10px;
        width: 20vw;
    }
    .trending{
        display: flex;
        flex-direction: column;
    }
    .mainsec{
        display: flex;
        width: 90%;
        margin: 5px 5% 5px 5%;
    }
    .offers{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .offer1{
        display: flex;
        flex-direction: column;
        margin:150px 15% 10px 15%;
        align-items: center;
        justify-content: center;
        width: 70%;
    
    }
    .offer2{
        display: flex;
        flex-direction: column;
        margin:150px 15% 10px 15%;
        align-items: center;
        justify-content: center;
        width: 70%;
    
    }
    .ForYou{
            display: flex;
            flex-direction: column;
    }
    .toppicks{
        display: flex;
        flex-direction: column;
    }

    .allbookslist{
        width:85%;
        display: flex !important;
        flex-direction: column;
    }
    .allmainsec{
        width: 100%;
        height: 100%;
       
    }
    .books{
        display: flex;
        flex-direction: column;
        width:100vw;

    }
    .mainsec{
        display: flex;
        flex-direction: column;
        width: 90%;

    }

    /* for about us page */
    .about{
        width: 95vw !important;
        margin: 2.5vw !important;
        font-size: small !important;
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 90% !important;
        height: 50%;
    }
    .about-img{
        width: 100% !important;
        height: 50% !important;
    }
    .about-img>img{
        width: 100% !important;
        height: 70% !important;
        margin-top: 10px !important;
    }

    /* for contact page  */
    .contactformdiv{
        width: 100vw !important;
        height: 90vh;
        display: flex;
        flex-direction: column;
        margin: 2px !important;
    }
    .form{
        width: 100% !important;
        height: 60% !important;
        display: flex;
        margin: 2px !important;
        padding: 2px !important;
    }

    /* for blog page */

    .blog{
        flex-direction: column !important;
        width:90% !important;
        height: 600px !important;  
        margin: 5px 5% 5px 5% !important;
        background-color: red;
    }
    .blog-title h1{
        font-size: small !important;
    }
    .blog-desc p{
        font-size: smaller !important;
    }
    .blogimg img{
        height: 300px !important;
        width:95% !important;
        margin: 10px !important;
        border-radius: 50px;
    }
    .blog2{
        flex-direction: column !important;
        width:90% !important;
        height: 600px !important;  
        margin: 5px 5% 5px 5% !important;
    }
    .blog2 img{
        height: 300px !important;
        width:95% !important;
        margin: 5px !important;
        border-radius: 50px;
    }
    .blog-content1{
        display: none !important;
    }
    .blogcontent2{
        width: 90vw !important;
        flex-direction: column;
    }
    .blogcard1{
        width: 100% !important;
        margin: 5px !important;
    }
    .footer{
        display: flex !important;
        flex-direction: column !important;
    }
    .footer-text{
        display: flex !important;
        flex-direction: column !important;
    }
}